<div class="trm-main-card-frame trm-sidebar">
    <div class="trm-main-card"> 
        <%- partial(theme.layout.sidebar_user) %>
        <%- partial(theme.layout.sidebar_social) %>
        <%- partial(theme.layout.sidebar_info) %>
        <%- partial(theme.layout.sidebar_email) %>
        <div>
            <div style="padding: 10px 0;">
            <div class="trm-divider-dash trm-mt-20 trm-mb-20"></div>
            </div>
            <div class="tag-list-point">
            </div>
            <div style="padding: 25px 20px;">
                <!-- <%- tagcloud(site.tags,{ min_font:20,max_font:36 }) %> -->
                <%- list_tags({ class: { ul: "trm-tag-list" , li:"trm-tag-list-item" } }) %>
            </div>
        </div>
    </div>
</div>